<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<link rel="stylesheet" href="/css/bootstrap-theme.css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
		<link rel="stylesheet" href="/css/master.css">
		<link rel="stylesheet" href="/css/style.css">
		<title>Add Application Page</title>
		<!-- Google Analytics -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-135189626-1', 'auto');
		ga('send', 'pageview');
		</script>
		<!-- End Google Analytics -->
	</head>
	<body>
		{{>navbar}}

		<div class="subject-header">
				<h2>ADD APPLICATION</h2>
		</div>
		<div class="container">
			<br>
			<form class="" action="/add" method="get">
				<label><p>Company Name</p></label><br><input name="companyName" id="companyName" type="text"><br>
				<label><p>Position</p></label><br><input name="position" id="position" type="text"><br>
				<select name="stage">
					<option disabled selected>Stage ...</option>
					<option>Applied</option>
					<option>Coding Challenge</option>
					<option>Phone Screen</option>
					<option>First Interview</option>
					<option>Second Interview</option>
					<option>No Offer Recieved</option>
					<option>Offer Recieved</option>
					<option>Negotiation</option>
					<option>Ghosted</option>
				</select>
				<label><p>Contact Info</p></label><br><textarea name="contactInfo" rows="2" cols="80"></textarea><br>
				<label><p>Website | Portal URL</p></label><br><input name="website" type="text"><br>
			<!-- </form>
			<br>
			<label><p>Add Notes<h3>+</h3></p></label><br> -->
			<div class="center">
				<button id="addBtn" type="submit">ADD</button>
				<button id="cancelBtn" type="reset" class="cancelBtn">CANCEL</button>
			</div>
			</form>
		</div>
	</body>

	<script type="text/javascript">
		document.getElementById('addBtn').onclick = function() {
			window.location.href = '/view-applications';
		}
		document.getElementById('cancelBtn').onclick = function() {
			window.location.href = '/view-applications';
		}
	</script>
</html>
