<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/index.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/bootstrap-theme.css">
		<link rel="stylesheet" href="/css/master.css">
		<link rel="stylesheet" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<title>Add Application Page</title>
	</head>
	<body>
		<div class="top-bar-desktop">
			<h1><p>Desktop</p></h1>
		</div>
		<div class="top-bar-mobile">
			<img id="logout" src="/images/logout.png" alt="search">
			<img id="menu" src="/images/menu.png" alt="menu">
		</div>
		<div class="subject-header">
				<h2>ADD APPLICATION</h2>
		</div>
		<div class="container">
			<br>
			<form class="" action="/add" method="get">
				<label><p>Company Name</p></label><br><input name="companyName" id="companyName" type="text"><br>
				<label><p>Position</p></label><br><input name="position" id="position" type="text"><br>
				<select>
					<option disabled selected>Stage ...</option>
					<option>Coding Challenge</option>
					<option>Phone Screen</option>
					<option>First Interview</option>
					<option>Second Interview</option>
					<option>Offer Received</option>
					<option>No Offer Recieved</option>
					<option>Negotiation</option>
					<option>Ghosted</option>
					<option>Ghosted by Me</option>
				</select>
				<label><p>Contact Info</p></label><br><textarea name="name" rows="2" cols="80"></textarea><br>
				<label><p>Website | Portal URL</p></label><br><input type="text"><br>
			<!-- </form> -->
			<br>
			<label><p>Add Notes<h3>+</h3></p></label><br>
			<div class="center">
				<button id="addBtn" type="submit">ADD</button>
				<button id="cancelBtn" type="reset" class="cancelBtn">CANCEL</button>
			</div>
			</form>
		</div>
	</body>
	<script type="text/javascript">
		document.getElementById('addBtn').onclick = function() {
			window.location.href = '/view-applications';
		}
		document.getElementById('cancelBtn').onclick = function() {
			window.location.href = '/view-applications';
		}
		document.getElementById('menu').onclick = function() {
			window.location.href = '/home';
		}
		document.getElementById('logout').onclick = function() {
			window.location.href = '/';
		}
	</script>
</html>
