<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<link rel="stylesheet" href="/css/bootstrap-theme.css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
		<link rel="stylesheet" href="/css/master.css">
		<link rel="stylesheet" href="/css/style.css">
		<title>Application Page</title>
		<!-- Google Analytics -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-135189626-1', 'auto');
		ga('send', 'pageview');
		</script>
		<!-- End Google Analytics -->
	</head>
	<body>
		{{>navbar}}

		<div class="subject-header">
				<h2 id="header"></h2>
		</div>
		<div class="container">
			<br>
			<form action="/edit" method="get">
				<label id="11"><p>Position</p></label><br><input name="position" id="12" type="text" value="{{position}}"><br>
				<label><p>Stage</p></label>
				<select name="stage">
					<option>Phone Screen</option>
					<option>First Interview</option>
					<option>Coding Challenge</option>
					<option>Negotiation</option>
				</select>
				<label><p>Contact Info</p></label><br><textarea id="contactInfo" name="contactInfo" rows="2" cols="80"></textarea><br>
				<label><p>Website | Portal URL</p></label><br><input id="webURL" name="website" type="text"><br>
			<br>
			<label><p>Notes</p></label>
			<input type="text" placeholder="Coding Q's">
			<input type="text" placeholder="Emailed Me">
			<div class="center">
				<button id="addBtn" type="submit">SAVE EDIT</button>
				<button id="cancelBtn2" type="reset" class="cancelBtn">CANCEL</button>
			</div>
			<input id="companyName" type="hidden" name="companyName">
			<input id="coID" type="hidden" name="coID">
			<input id="favorited" type="hidden" name="favorited">
			</form>
		</div>
	</body>
	<script type="text/javascript">
		$('#navBtn').css({
			'width': '10%',
			'margin': '0',
			'padding': '0',
			'border-radius': 'none',
			'box-shadow': 'none',
			'border': 'none'
		});
		var coID = localStorage.getItem('myStorage');
		var res = $.get('https://a8-flex-g6.herokuapp.com/jobs/' + coID, callB);
		//var res = $.get('http://localhost:3000/jobs/' + coID, callB);
		function callB(result) {
			console.log('yo', result);
			$('#11').attr('name',coID);
			$('h2').text(result.name);
			$('#12').attr('value', result.position);
			$('select').val(result.stage);
			$('#contactInfo').val(result.contactInfo);
			$('#webURL').attr('value', result.website);
			$('#companyName').attr('value', result.name);
			$('#coID').attr('value', coID);
			$('#favorited').attr('value', result.favorited);
		}

		document.getElementById('cancelBtn2').onclick = function() {
			window.location.href = '/view-applications';
		}

	</script>
</html>
