<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/index.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/bootstrap-theme.css">
		<link rel="stylesheet" href="/css/master.css">
		<link rel="stylesheet" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<title>Application Page</title>
	</head>
	<body>
		<div class="top-bar-desktop">
			<h1><p>Desktop</p></h1>
		</div>
		<div class="top-bar-mobile">
			<img src="/images/magnifying-glass.png" alt="search">
			<img id="menu" src="/images/menu.png" alt="menu">
		</div>
		<div class="subject-header">
				<h2>TWITTER</h2>
		</div>
		<div class="container">
			<br>
			<form class="" action="index.html" method="post">
				<label><p>Position</p></label><br><input type="text" placeholder="Software"><br>
				<label><p>Stage</p></label>
				<select>
					<option>Phone Screen</option>
					<option>First Interview</option>
					<option>Coding Challenge</option>
					<option>Negotiation</option>
				</select>
				<label><p>Contact Info</p></label><br><textarea name="name" rows="2" cols="80" placeholder="hr@twitter.com"></textarea><br>
				<label><p>Website | Portal URL</p></label><br><input type="text" placeholder="twitterportal.com"><br>
			</form>
			<br>
			<label><p>Notes</p></label>
			<input type="text" placeholder="Coding Q's">
			<input type="text" placeholder="Emailed Me">
			<div class="center">
				<button id="addBtn">EDIT</button>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		document.getElementById('menu').onclick = function() {
			window.location.href = '/home';
		}
	</script>
</html>
