<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Job App</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <div class="top-bar">
			<img id="search" src="/images/exit.png"></img>
			<img id="menu" src="/images/menu.png"></img>
		</div><wb>
    <div id="applications" style="height:100px">
      <p>ADD APPLICATION</p>
    </div>
    <div class="field-wrapper">
      <label><p>Company Name</p></label>
      <input type="text" placeholder="Twitter">
      <label><p>Position</p></label>
      <input type="text" placeholder="Software Engineer">
      <label><p>Stage</p></label>
      <input type="text" placeholder="Phone Screen">
      <label><p>Contact Info</p></label>
      <input type="text" placeholder="jim@twiiter.com">
      <label><p>Website | Portal URL</p></label>
      <input type="text" placeholder="twitter.com">
      <label><p>Add Notes</p></label>
      <input type="text" placeholder="Review Resume!!">
    </div>
    <div class="wrapper">
      <button id="addBtn" onclick="goBack()"><p>ADD</p></button>
      <button id="cancelBtn" onclick="goBack()"><p>CANCEL</p></button>
    </div>
    <br>

    <!-- Hamburger Menu -->
    <dialog id="hamburger">
      <p>VIEW APPLICATIONS</p>
      <p>ADD APPLICATIONS</p>
      <p>COMPARE OFFERS</p>
      <p>LOGOUT</p>
    </dialog>
  </body>

  <script type="text/javascript">
    document.getElementById('menu').onclick = function() {
      hamburger.showModal();
    }

    document.getElementById('search').onclick = function() {
      window.location.href = "/";
    }

    function goBack() {
      window.location.href = "/home";
    }

    window.onclick = function(event) {
      if(event.target == document.getElementById('hamburger')){
        hamburger.close();
      }
    }
  </script>
</html>
