<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Job App</title>
		<link rel="stylesheet" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	<body>
		<div class="top-bar">
			<img id="search" src="/images/exit.png"></img>
			<img id="menu" src="/images/menu.png"></img>
		</div><wb>
		<div class="status-screen">
			<div class="all">

			<div class="total-applied">
				<p style="color:#155263">TOTAL APPLIED</p>
				<br><br>
				<p><b class="big">10</b></p>
			</div>
			<div class="open">
				<p style="color:#155263">OPEN</p>
				<br><br>
				<p><b class="big">8</b></p>
			</div>
			<div class="closed">
				<p style="color:#155263">CLOSED</p>
				<br><br>
				<p><b class="big">2</b></p>
			</div>
			</div>
		</div>
		<br><br>
		<div class="watch-list">
			<p>WATCH LIST</p>
		</div>
		<ul>
			<li onclick="linkClick()">Instagram - Software <img src="/images/star.png" alt="star"></li>
			<li onclick="linkClick()">Twitter - User Experienece <img src="/images/star.png" alt="star"></li>
			<li onclick="linkClick()">Facebook - Software <img src="/images/star.png" alt="star"></li>
		</ul>
		<div class="watch-list">
			<p>OFFERS</p>
		</div>
		<ul>
			<li onclick="linkClick()">None Yet!</li>
		</ul>

		<!-- Hamburger Menu -->
    <dialog id="hamburger">
      <p>VIEW APPLICATIONS</p>
      <p>ADD COMPANY</p>
      <p>COMPARE OFFERS</p>
      <p>LOGOUT</p>
    </dialog>
  </body>

  <script type="text/javascript">
    document.getElementById('menu').onclick = function() {
      hamburger.showModal();
    }

    document.getElementById('search').onclick = function() {
      window.location.href = "/";
    }

		function linkClick() {
			window.location.href = "/applications";
		}

    window.onclick = function(event) {
      if(event.target == document.getElementById('hamburger')){
        hamburger.close();
      }
    }
  </script>
	</body>
</html>
