<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/index.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/bootstrap-theme.css">
		<link rel="stylesheet" href="/css/master.css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<title>Login Page</title>
	</head>
	<body id="bg">
		<div class="centered">
			<h1><p id="appName"><b>App Name</b></p></h1><br class="jumboBr">
			<div class="container">
				<input class="titleInput" type="email" placeholder="EMAIL">
				<input class="titleInput" type="password" placeholder="PASSWORD">
				<div class="center"><br>
					<button id="loginBtn"><p>LOGIN</p></button>
					<button id="signupBtn"><p>SIGN UP</p></button>
				</div>
			</div>
		</div>
	</body>
</html>
