<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Job App</title>
		<link rel="stylesheet" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	<body id="bg" style="background-color:#4A846F;">
		<br>
		<div class="title-screen">
			<p style="font-size:100px"><b>JOB TRACKER</b></p>
		</div>
		</img>
		<br style="line-height:400px;">
		<div class="wrapper">
			<input placeholder="EMAIL">
			<input placeholder="PASSWORD">
			<button id="loginBtn" onclick="handleLogin();"><p>LOGIN</p></button><br>
			<button id="signupBtn"><p>SIGN UP</p></button>
		</div>
	</body>
	<script>
		function handleLogin() {
			window.location.href = "home";
		}

	</script>
</html>
