body {
  background-color: #F9F8EB;
}

h2 {
  font-family: 'Lato', sans-serif;
  margin: 0px;
}

p {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  color: #4A846F;
}

button {
  width: 20%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

label {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: #76B39D;
  margin-left: 5px;
  margin: 0;

}

input, select, textarea {
  background: #FCFCFC;
  border: 1px solid #76B39D;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 95%;
  margin: 7px 0px;
}

input::placeholder {
  color: #76B39D;
  padding-left: 10px;
}

ul {
  margin: 10px;
  list-style: circle;
  text-align: left;
}

li {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  color: #4A846F;
  margin: 10px;
  font-size: 20px;
}

#bg {
  background-image: url("/images/title.png");
  background-repeat: no-repeat;
  background-size: 100% 55%;
  background-color: #4A846F;
}

#appName {
  background-color: #76B39D;
  width: 100%;
  padding: 20px 0px;
  opacity: 0.9;
  color: #155263;
}

#loginBtn {
  background-color: #F0B917;
  color: #155263;
}

#signupBtn {
  background-color: #F9F8EB;
  color: #76B39D;
}

.top-bar-desktop {
  display: inline-block;
  background-color: #4A846F;
  width: 100%;
  text-align: right;
}

.top-bar-mobile {
  display: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.center {
  text-align: center;
}

.centered {
  text-align: center;
  padding: 150px 0px;
}

.right {
  text-align: right;
}

.titleInput {
  width: 50%;
  border: 1px solid black;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  padding: 10px 0px;
}

.subject-header {
  text-align: center;
  background-color: #76B39D;
  display: inline-block;
  width: 100%;
}

.subject-header h2 {
  color: #155263;
  margin: 10px 0px;
}

.subject-header-yellow {
  text-align: center;
  background-color: #F0B917;
  display: flex;
  display: inline-block;
  width: 100%;
}

.subject-header-yellow h2 {
  color: #FFFFFF;
  margin: 10px 0px;
}

.jumboBr {
  line-height: 200px;
}

@media screen and (max-width: 420px) {
  button {
    width: 75%;
    margin: 5px 0px;
  }

  #bg {
    background-size: 100% 45%;
  }

  .top-bar-desktop {
    display: none;
  }

  .top-bar-mobile img {
    height: 30px;
    margin: 10px;
  }

  .titleInput {
    width: 100%;
  }

  .top-bar-mobile {
    display: inline-block;
    background-color: #4A846F;
    width: 100%;
    text-align: right;
  }

  .center {
    text-align: center;
  }

  .centered {
    padding: 100px 0px 15px;
  }

  .jumboBr {
    line-height: 150px;
  }

  .fbButton {
    
  }
}
