div {
  margin: 0;
}

body {
  background-color: #F9F8EB;
  margin: 0;
}

br {
  line-height: 100px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  margin: 0;
}

ul {
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  font-size: 50px;
  text-align: center;
  color: #4A846F;
  text-decoration: underline;
}

li {
  margin: 50px;
}
li:hover {
  background-color: #76B39D;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  width: 90%;
  height: 150px;
  margin: 30px;
}

input::placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  color: #76B39D;
}

.title-screen {
  height: 100px;
  background-color: #76B39D;
  opacity: 0.75;
  text-align: center;
  padding: 150px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  background-color: #4A846F;
  width: 100%;
  height: 150px;
  display: inline-block;
  text-align: right;
}

.status-screen {
  background-color: #76B39D;
  width: 100%;
  height: 570px;
  display: inline-block;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.wrapper {
  text-align: center;
}

.big {
  font-size: 100px;
}

#bg {
  background-image: url("/images/title.png");
  background-repeat: no-repeat;
  background-size: 100% 45%;
}

#button1 {
  background-color: #155263;
  width: 95%;
  height: 170px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

}

#button2 {
  background-color: #4A846F;
  width: 95%;
  height: 170px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

#button3 {
  background-color: #F0B917;
  width: 95%;
  height: 170px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

#loginBtn {
  background-color: #F0B917;
  width: 95%;
  height: 170px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  color: #155263;
}

#signupBtn {
  background-color: #F9F8EB;
  width: 95%;
  height: 170px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

#addBtn {
  background-color: #F0B917;
  width: 40%;
  height: 100px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  margin: 20px;
}

#cancelBtn {
  background-color: #FCFCFC;
  width: 40%;
  height: 100px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  margin: 20px;
}

.all {
  display: flex;
  text-align: center;
  align-items: center;
}

.total-applied {
  margin: 70px 50px;
  text-align: center;
}

.open {
  text-align: center;
  margin: 70px;
}

.closed {
  text-align: center;
  margin: 70px;
}

.watch-list {
  background-color: #F0B917;
  text-align: center;
  width: 100%;
  height: 150px;
  color: white;
}

.field-wrapper {
  margin: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
}

.field-wrapper input {
  height: 100px;
  margin: 30px 0px;
}

#applications {
  align-items: center;
  height: 200px;
  text-align: center;
  background-color: #76B39D
}

#fillers {
  height: 100px;
  text-align: center;
  background-color: #4A846F;
}

#fillers p {
  color: #F9F8EB
}

#hamburger {
  border: none;
  text-align: center;
}

#hamburger p {
  margin: 70px;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

#search, #menu {
  margin: 30px;
}
