h4 {
  margin: 10px;
}

img {
  height: 30px;
  padding-bottom: 10px;
}

span {
  font-size: 25px;
  color: white;
}

li span {
  float: right; 
}

#addBtn {
  color: #FFFFFF;
  background: #F0B917;
  width: 45%;
}

#sortBtn, #filterBtn {
  color: #FFFFFF;
  background: #F0B917;
  width: 45%;
  border: none;
  box-shadow: none;
}

.status-screen {
  background-color: #76B39D;
  display: flex;
  justify-content: center;
}

.cancelBtn {
  color: #76B39D;
  background: #FCFCFC;
  width: 45%;
}
